# 1. KHÓA CHẾT FILE LUẬT & CẤU HÌNH GỐC (Chỉ Trưởng nhóm được duyệt)
# Ngăn chặn ai đó tự ý sửa luật phân quyền
/.github/CODEOWNERS @Vengeance20
# Bảo vệ file quản lý thư viện Maven, cấm tự ý cài thư viện rác
/pom.xml @Vengeance20
# Bảo vệ file kết nối Database, tránh việc sửa sai pass MySQL làm sập cả dự án
/src/main/resources/application.properties @Vengeance20

# 2. LÃNH THỔ BACKEND (Code Java, Logic, API)
# Bất cứ ai sửa file .java nào, phải có 1 trong các bạn Backend duyệt
/src/main/java/ @Vengeance20
/src/test/ @Vengeance20

# 3. LÃNH THỔ FRONTEND (HTML, CSS, JS)
# Bất cứ ai sửa giao diện, phải có 1 trong các bạn Frontend duyệt
/src/main/resources/static/ @WiuHz
/src/main/resources/templates/ @WiuHz

# 4. LUẬT MẶC ĐỊNH CHO CÁC FILE CÒN LẠI (VD: README.md, .gitignore)
* @Vengeance20
